.form {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #eff6fe 50%, #52aaff 50%);
    position: relative;

    &__content {
        //padding: 2rem;
        width: 70%;
        background:#fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background: linear-gradient(to right, #fff 50%, #eff6fe 50%);
        display: flex;
        border-radius: 40px;
        box-shadow: 0 0 2rem #ccc;
    }

    &__logo {
        width: 8rem;
        height: 2.2rem;
       // margin: 2rem 0 0 2rem;
    }

    &__left {
        flex: 0.5;
        padding: 2rem;
    }

    &__right {
        flex : 0.5;

        display: flex;
        align-self: center;
        height: 100%;
        //padding: 3rem;

        &-img {
            width: 85%;
            height: 85%;
        }

    }

    &__btn:link,
    &__btn:visited {
        padding: .7rem 2.5rem;
        background: transparent;
        text-decoration: none;
        text-transform: uppercase;
        border: 1.5px solid #52aaff;
        color: #52aaff;
        font-size: .8rem;
        margin-left: 1rem;
        font-weight: 500;
        border-radius: 4px;
    }

    &__links {
        text-align: center;
    }

    &__link,
    &__link:active,
    &__link:visited {
        display: inline-block;
        margin-top: 2rem;
        padding: .5rem 2rem;
        text-decoration: none;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 25px;
        color: black;
        background: rgb(247, 243, 243);
      
    }

    &__link-active {
            background: linear-gradient(to right, #1e71cf , #52aaff);
            color: #fff !important;
    }

}
.mt-small {
    margin-top: 1rem;
}
.mt-medium {
    margin-top: 2rem;
}